github-publish:
  image: docker.onedata.org/github-publish:
  restart: always
  volumes:
    - ~/.ssh/id_bamboo:/id_bamboo:ro
    - ~/.ssh/onedata_github:/onedata_github:ro
    - ~/github-publish-tmp-repos:/tmp
  
